<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.RestaurantMapper">
	<select id="list" resultType="Restaurant">
		SELECT T1.id
		     , T1.name
		     , T1.tel
		     , T1.address
		     , T1.lat
		     , T1.lng
		     , T1.type
 	      FROM restaurant T1
	</select>

	<select id="restaurantFileList" resultType="FileInfo">
		SELECT *
		FROM restaurant_file
		WHERE ref_no = #{refNo}
	</select>

	<select id="restaurantMenuList" resultType="String">
		SELECT menu_name
		FROM restaurant_menu
		WHERE ref_no = #{refNo}
	</select>



	<select id="restaurantReadFile" resultType="FileInfo">
		SELECT *
		FROM restaurant_file
		WHERE file_no = #{fileNo}
	</select>

</mapper>