<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mapper.ReviewMapper">
	<insert id="insert">
		INSERT INTO review (id, starpoint, content, user_id, restaurant_id)
		VALUES (#{id}, #{starpoint}, #{content}, #{user_id}, #{restaurant_id})
	</insert>

	<select id="readOne" resultType="Integer">
		SELECT IFNULL(Max(id),0) as id
		  FROM review
	</select>
</mapper>